{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="canonical" href="https://nickparsons.io" />
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    
    <meta name="description" content="Director of Developer Marketing at Stream 👍Technical Writer 🖋" />
    <meta name="image" content="https://avatars3.githubusercontent.com/u/1328388?s=460&v=4" />
    <meta itemprop="name" content="Nick Parsons" />
    <meta itemprop="description" content="Director of Developer Marketing at Stream 👍Technical Writer 🖋" />
    <meta itemprop="image" content="https://avatars3.githubusercontent.com/u/1328388?s=460&v=4" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Nick Parsons" />
    <meta name="twitter:description" content="Director of Developer Marketing at Stream 👍Technical Writer 🖋" />
    <meta name="twitter:site" content="@nickparsons" />
    <meta name="twitter:creator" content="@nickparsons" />
    <meta name="twitter:image:src" content="https://avatars3.githubusercontent.com/u/1328388?s=460&v=4" />
    <meta name="og:title" content="Nick Parsons" />
    <meta name="og:description" content="Director of Developer Marketing at Stream 👍Technical Writer 🖋" />
    <meta name="og:image" content="https://avatars3.githubusercontent.com/u/1328388?s=460&v=4" />
    <meta name="og:url" content="https://nickparsons.io" />
    <meta name="og:site_name" content="Nick Parsons" />
    <meta name="og:type" content="website" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98172897-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-98172897-1');
    </script>

  </head>
  <body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>

  {% include scroll-indicator.html %}