---
---

@import url("https://unpkg.com/primer/build/build.css");
@import "highlight-syntax";

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1,
  h2,
  h3,
  h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.bg-gray-light {
  background-color: #fff !important;
}

@media only screen and (min-width: 900px) {
  div#stick {
  position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    background-color: #fff;
    position: absolute;
    padding-bottom: 20px;
    padding-top: 5px;
    z-index: 10;
  }

  div.my-6 {
    margin-top: 0px !important;
  }

  div.f4 {
    margin-bottom: 10px !important;
  }
}

div.footer {
  font-family: 'Indie Flower', cursive;
  position: relative;
}

p#take-one {
  text-align: center;
  font-size: 24px;
}

.icon {
  position: inline-flex;
  align-self: center;
}

footer {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  position: inline-flex;
  align-self: center;
  text-align: center;
  margin-top: 20px;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 6px;
  z-index: 11;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 6px;
  background: #28a745;
  width: 0%;
}